<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infinite.dao.MonitorConfigMapper">
    <resultMap id="monitorConfigResultMap" type="com.infinite.pojo.MonitorConfig">
        <id property="url" column="url"/>
        <id property="count" column="count"/>
        <id property="status" column="status"/>
        <id property="time" column="time"/>
    </resultMap>
    <update id="updateMonitorConfigSwitch">
        update MONITORCONFIG set status = #{status} where URL='switch'
    </update>
    <select id="getMonitorConfig" resultMap="monitorConfigResultMap">
        select
        mo.URL as url,
        mo.COUNT as count,
        mo.STATUS as status,
        mo.TIME as time
        from MONITORCONFIG mo
    </select>

</mapper>